.container {
    display: flex;
    /* background: rgb(34,193,195);
    background: linear-gradient(0deg, rgba(34,193,195,1) 6%, rgba(133,3,3,0) 100%); */
    width: 53%;
    max-height: max-content;
    /* padding: 2px; */

    justify-content: space-between;
    margin-top: 25px;
    /* border: 2px solid; */
    box-shadow: 1px 1px 5px 3px rgba(130, 235, 45, 0.74);
    border-radius: 10px;
    backdrop-filter: blur(10px);
    padding: 10px 10px  0 0;
}

#a1 {
    text-align: left;
    padding: 20px;
    font-family: "Mr Dafoe", cursive;
    font-size: x-large;
    color: yellow;
    font-weight: 500;
    /* text-shadow: 1px 1px 3px; */
}

input {
    padding: 6px;
    width: 100%;
    border-color: chartreuse;
    /* border: none; */
    background-color: whitesmoke;
    border-radius: 5px;
    font-size: 25px;
}

input:focus {
    outline: 0px;
}

button {
    background: rgb(0, 0, 0);
    background: linear-gradient(63deg, rgba(0, 0, 0, 1) 11%, rgba(6, 74, 3, 1) 43%);
    width: 80%;
    border: none;
    padding: 8px;
    border-radius: 5px;
    color: yellow;
    font-family: "Mr Dafoe", cursive;
    font-size: x-large;
    cursor: pointer;
}

.b1 img {
    /* border-radius: 10px; */
    height: 550px;
    width: 350px;
    padding: 0px;
    border-radius: 10px 0 0 10px;

}

body {
    background-image: url(images/light-green.jpeg);
    background-position: center;
    background-size: cover;
    margin: 0;
    padding: 0;
}
small
{
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: medium;
    color: rgb(186, 230, 238);
    visibility: hidden;
}

.formcontrol.error small {
    visibility: visible;
}
.formcontrol.error input{
    border-color: red;
}
.formcontrol.success input
{
    border-color: rgb(25, 243, 6);
}

@media all  and  (max-width:600px)
{
   
    body
     {
        background-image: url(images/light-green.jpeg);
        width:100%;
        padding: 0;
        margin: 0;
        

        
    }

    .container {
        /* display: flex; */
        /* background: rgb(34,193,195);
        background: linear-gradient(0deg, rgba(34,193,195,1) 6%, rgba(133,3,3,0) 100%); */
        width: 300px;
        /* max-height: max-content; */
        /* padding: 2px; */
    
        /* justify-content: space-between; */
        margin-top: 25px;
        /* border: 2px solid; */
        box-shadow: 1px 1px 5px 3px rgba(130, 235, 45, 0.74);
        border-radius: 10px;
        backdrop-filter: blur(10px);
 /* padding: 10px 10px  0 0; */
    }

    .b1 img 
    {
        /* border-radius: 10px; */

        height: 570px;
        width: 120px;
        padding: 0px;
        border-radius: 10px 0 0 10px;
    
    }

    small
{
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: small;
    color: rgb(186, 230, 238);
    visibility: hidden;
    
    
      
}
}